<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="kamias" value="25"/>
		<add key="calamansi" value="20.83"/>
		<add key="oventemp" value="32"/>
		<add key="response" value="1"/>
		<add key="ambient" value="27"/>
		<add key="dwell" value="5"/>
		<add key="initRed" value="0"/>
		<add key="initGreen" value="128"/>
		<add key="initBlue" value="0"/>
		<add key="finalRed" value="196"/>
		<add key="finalGreen" value="164"/>
		<add key="finalBlue" value="132"/>
		<add key="nhexane" value="80"/>
		<add key="soxhletTemp" value="68"/>
		<add key="soxhletDuration" value="6"/>
		<add key="nhexaneTemp" value="35"/>
		<add key="nhexaneDuration" value="2"/>
		<add key="methanolVolume" value="30"/>
		<add key="catalystVolume" value="15"/>
		<add key="transDuration" value="15"/>
		<add key="waterVolume" value="20"/>
		<add key="washTime" value="30"/>
		<add key="washCycle" value="3"/>
		<add key="bioTemp" value="100"/>
		<add key="extractedVolume" value="10"/>
		<add key="extractTime" value="30"/>
		
		
		
		
		
	</appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>